<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>SITTA Vue — Tugas 3</title>
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <div id="app">
    <nav class="navbar">
  <div class="nav-left">
    <span class="sapaan">{{ sapaan }}</span>
  </div>
  <div>
    <button @click="tab='stok'">Stok BA</button>
    <button @click="tab='tracking'">Tracking DO</button>
    <button @click="tab='order'">Order Baru</button>
  </div>
</nav>

  <section class="slider" v-if="tab==='dashboard'">
  <div class="slides" :style="{ transform: 'translateX(-' + index * 100 + '%)' }">
    <div class="slide" v-for="(img, i) in images" :key="i" :style="{ backgroundImage: 'url(' + img + ')' }"></div>
  </div>
  <div class="overlay"></div>
  <div class="text-helo">
    <h1>Selamat Datang di Aplikasi SITTA</h1>
    <p>“Bahan Ajar, untuk Pembelajaran Tanpa Batas.”</p>
  </div>
</section>

  <script src="js/app.js"></script>
</body>
</html>