body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 30px 20px;
}

.navbar button {
  margin-left: 10px;
  padding: 12px 12px;
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: large;
}

.navbar button:hover{
  text-decoration: underline;
}

.nav-left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sapaan {
  font-size: 20px;
  font-weight: bold;
  color: #ecf0f1;
}

.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
}

.text-helo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.waktu-user {
  padding: 2px;
  text-align: left;
}